/*  MyStyle For ParkOn */

/* 1. Useful Styles */
.spacet-5
{
    margin-top: 5px;
}
.spacet-10
{
    margin-top: 10px;
}
.spacet-50
{
    margin-top: 50px;
}

.font-12
{
    font-size: 12px;
}

/* 2. Custom Logo */
.custom-logo
{
    margin-top: -85px;
}


/* 3. Color .bk-clr-one */
.color-1 
{
    background-color: #B9B739;
}
.color-2 
{
    background-color: #F94C4C;
}
.color-3 
{
    background-color: #119C7E;
}
.color-4 
{
    background-color: #B739B9;
}
.color-5 
{
    background-color: #795548;
}
.color-6 
{
    background-color: #F44336;
}
.color-7 
{
    background-color: #B9B739;
}
.color-8 
{
    background-color: #F94C4C;
}
.color-9 
{
    background-color: #119C7E;
}
.color-10 
{
    background-color: #B739B9;
}



/* 4. Progress Bar  .progress-bar-warning */
.progress-bar-1 
{
    background-color: #B9B739;
}
.progress-bar-2 
{
    background-color: #F94C4C;
}
.progress-bar-3 
{
    background-color: #119C7E;
}
.progress-bar-4 
{
    background-color: #B739B9;
}
.progress-bar-5 
{
    background-color: #795548;
}
.progress-bar-6 
{
    background-color: #F44336;
}
.progress-bar-7 
{
    background-color: #B9B739;
}
.progress-bar-8 
{
    background-color: #F94C4C;
}
.progress-bar-9 
{
    background-color: #119C7E;
}
.progress-bar-10 
{
    background-color: #B739B9;
}










/* Media Queries */
@media screen and (max-width: 767px) {
    .custom-logo
    {
        margin-top: -65px;
    }
} 